<section class="hero-section">

  <div class="hero-bg">

    <div class="hero-row">
      <div class="hero-track" #track>
        <img *ngFor="let img of loop1" [src]="img" loading="lazy">
      </div>
    </div>

    <div class="hero-row">
      <div class="hero-track" #track>
        <img *ngFor="let img of loop2" [src]="img" loading="lazy">
      </div>
    </div>

    <div class="hero-bg-overlay"></div>
  </div>

  <div class="hero-content">
    <h1 class="hero-title">Fresh. Reliable. Truly Organic.</h1>
    <p class="hero-subtitle">Connecting Ghanaian farmers to your table.</p>
  
    <div class="hero-buttons">
      <button class="primary-btn hero-btn">Shop Now</button>
      <button class="secondary-btn hero-btn">Learn More</button>
    </div>
  </div>

</section>