@use 'styles/theme/theme-base';
@use 'styles/theme/theme-light';
@use 'styles/theme/theme-dark';

@use 'styles/base/reset';
@use 'styles/base/typography';

@use 'styles/components/buttons';
@use 'styles/components/cards';
@use 'styles/components/header';

/* pages loaded automatically by Angular */